body
{
    background-color: #a4bd99
}

.content-wrapper{
    background-color: #065C27;
    width: 100%;
}

.site-title
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.site-title a:link{
    color: #a4ac99;
}

.site-title a:visited{
    color: #a4ac99;
}

.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

.date-height
{
    height: 1em;
}