body
{
    background-color: #a4bd99
}

.content-wrapper{
    background-color: #065C27;
}

.site-title
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.site-title a:link{
    color: #77876b;
}

.site-title a:visited{
    color: #77876b;
}

.text-right
{
    text-align: right;
}